<!DOCTYPE html>
<html >
	<head>
	    <meta charset="UTF-8">
	    <title>SedrK_Server</title>
		<link rel= "stylesheet" type= "text/css" href= "../static/css/theme.css">
	</head>

  <body>
    <div class="body"></div>
		<div class="header">
			 <a href="/"><div>SedrK_<span>Server</span></div></a>
		</div>
		<br>
		<div class="login">
			<form action="/" method="POST">
				<div>Hello {{ nom }} your pass is -> {{ con }}</span></div><br><br>
				<input type="submit" class="btn btn-success" name="back_button" value="logout"><br></a>
			</form>
		</div>
  </body>

</html>
