
<!DOCTYPE html>
<html>

	<head>
	    <meta charset="UTF-8">
	    <title>SedrK_Server</title>
		<link rel= "stylesheet" type= "text/css" href= "../static/css/theme.css">
  	</head>

  	<body>

	    <div class="body"></div>
			<div class="header">
				 <a href="/"><div>SedrK_<span>Server</span></div></a>
			</div>
			<br>
			<div class="login">
				<form action="/" method="post">
					<div><span>Invalid username/password</span></div><br><br>
					<p> press logout to login page </p>
					<input type="submit" class="btn btn-success" name="back_button" value="logout"><br></a>
				</form>
		</div>
  </body>

</html>
