<!DOCTYPE html>
<html >

	<head>
	    <meta charset="UTF-8">
	    <title>SedrK_Server</title>
		<link rel= "stylesheet" type= "text/css" href= "../static/css/theme.css">
	</head>

  	<body>

	    <div class="body"></div>
			<div class="header">
				 <a href="/"><div>SedrK_<span>Server</span></div></a>
			</div>
			<br>
			<div class="login">
				 <form action="/home" method="post">
					<input type="text" class="form-control" placeholder="name" name="user" autocomplete="off" required><br>
					<input type="password" class="form-control" placeholder="password" name="pass" autocomplete="off" required><br>
					<input type="submit" class="btn btn-success" name="login_button" value="login"><br>
				</from>
			</div>

  	</body>

</html>
